<% set_title("Installing", product_name_long) %>


This section describes how to install <%=vars.product_name_long%>.

When you install a new version of <%=vars.product_name%> software on an existing <%=vars.product_name%> system, keep the previous version available until the system upgrade has been completed and verified.

-   **[Install <%=vars.product_name_long%> from a Compressed TAR File](install_standalone.html)**

    Use the compressed TAR file distribution to install and configure <%=vars.product_name_long%> on every physical and virtual machine where you will run <%=vars.product_name_long%>.

-   **[Obtaining <%=vars.product_name_long%> from a Maven Repository](obtain_gemfire_maven.html)**

    You can use Maven to add <%=vars.product_name_long%> to your Java project build.

-   **[Setting Up the CLASSPATH](../setup_classpath.html)**

    This topic describes how <%=vars.product_name%> processes set their CLASSPATH.

-   **[Uninstalling <%=vars.product_name%>](uninstall_gemfire.html)**

    This section describes how to remove <%=vars.product_name%>.

## <a id="obtaining-installing-security-updates"></a>Obtaining and Installing Security Updates

New versions of <%=vars.product_name_long%> often include important security fixes, so Pivotal recommends you keep up to date with the latest releases.

For details about any security fixes in a particular release, see the [Pivotal security page](http://www.pivotal.io/security).
