---
title:  VMware Tanzu&trade; GemFire&reg; 9.10 Documentation
---

Published June 10, 2021

Pivotal GemFire is now <%=vars.product_name_long%>.

This documentation describes product concepts and provides
complete setup instructions for <%=vars.product_name_long%>.

<%=vars.product_name%> shares a code base and documentation with Apache Geode.
In this documentation,
"<%=vars.product_name%>" and "Apache Geode" are equivalent terms.

## <a id="PivotalGemFire"></a><%=vars.product_name%> <%=vars.product_version%>

- [<%=vars.product_name%> <%=vars.product_version%> Release Notes](/<%=vars.product_version_nodot%>/gemfire/release_notes.html)
- [Supported Configurations and System Requirements](/<%=vars.product_version_nodot%>/gemfire/supported_configs/supported_configs_and_system_reqs.html)
- [Getting Started](/<%=vars.product_version_nodot%>/gemfire/getting_started/book_intro.html)

  - [<%=vars.product_name%> in 15 Minutes or Less](/<%=vars.product_version_nodot%>/gemfire/getting_started/15_minute_quickstart_gfsh.html)
  - [Installing <%=vars.product_name%>](/<%=vars.product_version_nodot%>/gemfire/getting_started/installation/install_intro.html)
  - [Upgrading <%=vars.product_name%>](/<%=vars.product_version_nodot%>/gemfire/getting_started/upgrade/upgrade_overview.html)

- [Configuring and Running a Cluster](/<%=vars.product_version_nodot%>/geode/configuring/chapter_overview.html)

- [Basic Configuration and Programming](/<%=vars.product_version_nodot%>/geode/basic_config/book_intro.html)
- [Topologies and Communication](/<%=vars.product_version_nodot%>/geode/topologies_and_comm/book_intro.html)
- [Managing <%=vars.product_name%>](/<%=vars.product_version_nodot%>/gemfire/managing/book_intro.html)
- [Developing with <%=vars.product_name%>](/<%=vars.product_version_nodot%>/geode/developing/book_intro.html)
- [Developing REST Applications for <%=vars.product_name%>](/<%=vars.product_version_nodot%>/geode/rest_apps/book_intro.html)
- [Tools and Modules](/<%=vars.product_version_nodot%>/gemfire/tools_modules/book_intro.html)
- [Reference](/<%=vars.product_version_nodot%>/geode/reference/book_intro.html)
- [Experimental Features](/<%=vars.product_version_nodot%>/gemfire/experimental/intro.html)

## <a id="APIReferenceDocumentation"></a>API Reference Documentation

- [<%=vars.product_name%> <%=vars.product_version%> Java API](https://gemfire.docs.pivotal.io/apidocs)
- [<%=vars.product_name%> Developer REST API](/<%=vars.product_version_nodot%>/geode/rest_apps/rest_api_reference.html)

## <a id="DocumentationOfRelatedProducts"></a>Documentation of Related Products

- [Native Client for VMware Tanzu GemFire](http://gemfire-native.docs.pivotal.io)
- [Node.js Client for VMware Tanzu GemFire](https://gemfire-nodeclient.docs.pivotal.io/2-0/about-client-users-guide.html)
