---
title: Pivotal GemFire Release Notes
---

Pivotal GemFire <%=vars.product_version%> is based on Apache Geode version <%=vars.product_version_geode%>.
Pivotal GemFire <%=vars.product_version%> and Apache Geode share a common set of documentation.
Therefore, references to both GemFire and Apache Geode appear
throughout this documentation; consider them equivalents.

## <a id="topic_whatsnew" class="no-quick-link"></a>What's New in Pivotal GemFire <%=vars.product_version%>

Pivotal GemFire <%=vars.product_version%> includes the following improvements:

- New feature described here.

- List any deprecated items here.

## <a id="topic_InstallingGF96" class="no-quick-link"></a>Installing Pivotal GemFire <%=vars.product_version%>

You can download Pivotal GemFire <%=vars.product_version%> from the [Pivotal GemFire product download](https://network.pivotal.io/products/pivotal-gemfire) page.

For details on how to install Pivotal GemFire <%=vars.product_version%>, see [Installing Pivotal GemFire](<%=vars.product_version_nodot%>/gemfire/getting_started/installation/install_intro.html).

Note that the file name extension for the compressed TAR file is `.tar.gz` (rather than `.tgz`).

## <a id="UpgradingGF96" class="no-quick-link"></a>Upgrading to Pivotal GemFire <%=vars.product_version%>

To upgrade from an earlier version of GemFire to the current version, see [Upgrading Pivotal GemFire](<%=vars.product_version_nodot%>/gemfire/getting_started/upgrade/upgrade_overview.html).

When servers are upgraded to this GemFire version from a version prior to version 9.1.1,
their authentication of client messages is disabled in order to facilitate rolling upgrades.
If your clients are set up to send authenticated messages, the servers will honor those messages,
but will not enforce authentication until you reinstate authentication on each of the upgraded servers.

To reinstate secure client/server messaging, restart each server with
the `geode.disallow-internal-messages-without-credentials` system property set to `true`.
For example:

``` pre
gfsh>start server --name=server_name --dir=server_config_dir \
--J=-Dgeode.disallow-internal-messages-without-credentials=true
```

## <a id="ResolvedIssues" class="no-quick-link"></a>Resolved Issues

The GemFire <%=vars.product_version%> release is based on the Apache Geode <%=vars.product_version_geode%> release.
This section describes issue resolutions that significantly affect GemFire applications. 
For a list of all issues resolved in Geode <%=vars.product_version_geode%>, see the [Geode <%=vars.product_version_geode%> Release Notes](https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12318420&version=12341842).
Ticket numbers of the form GEODE&#8209;NNNN can be inspected at the
[Apache Software Foundation site for Geode issues](https://issues.apache.org/jira/browse/GEODE).


### <a id="ResolvedIssuesGF951" class="no-quick-link"></a>Issues Resolved in Pivotal GemFire <%=vars.product_version%>

**GEODE-XXXX, GEM-XXXX:** An issue described here.


# Support

General support includes security vulnerability resolutions and critical bug fixes in all supported minor versions, while other maintenance is applied only to the latest supported minor release.

## Obtaining and Installing Security Updates

New versions of Pivotal GemFire often include important security fixes, so Pivotal recommends you keep up to date with the latest releases.

For details about any security fixes in a particular release, see the [Pivotal security page](http://www.pivotal.io/security).
