---
title: Pivotal GemFire Release Notes
---

Pivotal GemFire <%=vars.product_version%> is based on Apache Geode version <%=vars.product_version_geode%>.
Pivotal GemFire <%=vars.product_version%> and Apache Geode share a common set of documentation.
Therefore, references to both GemFire and Apache Geode appear
throughout this documentation; consider them equivalents.

## <a id="topic_whatsnew" class="no-quick-link"></a>What's New in Pivotal GemFire <%=vars.product_version%>

Pivotal GemFire <%=vars.product_version%> includes the following improvements:

- New gfsh commands work with JNDI bindings:
    - `gfsh describe jndi-binding`
    - `gfsh destroy jndi-binding`
    - `gfsh list jndi-binding`

- Three new attributes on the gateway sender MBean monitor events
that are overflowed to disk:
    - `lruEvictions` displays as `LRUEvictionsRate` in JConsole
    - `entriesOnlyOnDisk` displays as `EntriesOverflowedToDisk` in JConsole
    - `bytesOnlyOnDisk` displays as `BytesOverflowedToDisk` in JConsole

- The `load-cluster-configuration-from-dir` option of the `gfsh start locator`
command is deprecated.

## <a id="topic_InstallingGF95" class="no-quick-link"></a>Installing Pivotal GemFire <%=vars.product_version%>

You can download Pivotal GemFire <%=vars.product_version%> from the [Pivotal GemFire product download](https://network.pivotal.io/products/pivotal-gemfire) page.

For details on how to install Pivotal GemFire <%=vars.product_version%>, see [Installing Pivotal GemFire](getting_started/installation/install_intro.html).

Note that the file name extension for the compressed TAR file is `.tar.gz` (rather than `.tgz`).

## <a id="UpgradingGF95" class="no-quick-link"></a>Upgrading to Pivotal GemFire <%=vars.product_version%>

To upgrade from an earlier version of GemFire to the current version, see [Upgrading Pivotal GemFire](getting_started/upgrade/upgrade_overview.html).

When servers are upgraded to this GemFire version from a version prior to version 9.1.1,
their authentication of client messages is disabled in order to facilitate rolling upgrades.
If your clients are set up to send authenticated messages, the servers will honor those messages,
but will not enforce authentication until you reinstate authentication on each of the upgraded servers.

To reinstate secure client/server messaging, restart each server with
the `geode.disallow-internal-messages-without-credentials` system property set to `true`.
For example:

``` pre
gfsh>start server --name=server_name --dir=server_config_dir \
--J=-Dgeode.disallow-internal-messages-without-credentials=true
```

## <a id="ResolvedIssues" class="no-quick-link"></a>Resolved Issues

The GemFire <%=vars.product_version%> release is based on the Apache Geode <%=vars.product_version_geode%> release.
Here is a list of [all issues resolved for Geode <%=vars.product_version_geode%>](https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12318420&version=12341842).

### <a id="ResolvedIssuesGF930" class="no-quick-link"></a>Issues Resolved in Pivotal GemFire <%=vars.product_version%>

The following issues have been resolved in GemFire <%=vars.product_version%>.
Ticket numbers of the form GEODE&#8209;NNNN can be inspected at the
[Apache Software Foundation site for Geode issues](https://issues.apache.org/jira/browse/GEODE).

####Gfsh Issues####


####Pulse Issues####

**GEODE-XXXX, GEM-XXXX:** An issue described here.

####Other Management & Monitoring Issues####

**GEODE-4765, GEM-1918:** Fixed an issue in which cluster configuration
did not respond after a locator reconnects to the distributed system.

**NEEDS EDITING.** **GEODE-4475, GEM-1677:** Apply ArgumentRedactor
to JVM arguments.

**NEEDS EDITING.** **GEM-900:** 404 errors in Pulse 8.2.0 returns
the default Tomcat 404 page which discloses the server and version.

**NEEDS EDITING.** **GEODE-4755:** Fixed JAR deploy on Windows.

**GEODE-3891, GEM-1777:** Fixed an issue
that prevented the ability to set specific ciphers for the REST interface.

**GEODE-3922:** Corrected the Pulse help tab link.

**GEODE-4497:** Fixed a gfsh output text wrapping error.

**NEEDS EDITING.** **GEODE-4771, GEM-1929:** Fixed configuring gfsh Configure PDX option 'auto-serializable-classes' to set 'check-portability' as 'false'

**GEODE-2321:** Fixed Pulse to work correctly in locales other than the US.

**NEEDS EDITING.** **GEODE-4930:** Add a feature flag to be able to turn off new gfsh commands until all gfsh CRUD commands are available.

**NEEDS EDITING.** **GEODE-3456, GEM-1917:** Fixed bug where an extra Null node for a cluster was showing up in Pulse

**NEEDS EDITING.** **GEODE-4893, GEM-1974:** Fixed the problem where the server shutdown on import of cluster configuration even though import was successful (no error on server shutdown appeared in logs)

**NEEDS EDITING.** **GEODE-4960, GEM-1965:** Fixed Jar deployment via gfsh when SSL is enabled

**INCLUDE?.** **GEODE-4830:**  Gfsh command list jndi-binding will display active and configured JNDI bindings.

**NEEDS EDITING.** **GEODE-4902, GEM-1942:** Log marker logging is now getting displayed in the logs

####Storage Issues####

**GEODE-4769:** Region entries are now serialized
before putting them in a local cache.

**GEODE-4933:** Entry expiration now updates the last accessed time
on proxy (normal) or local (preloaded) replicated regions.

** NEEDS EDITING.** **GEODE-4840:** Fixed a bug in CacheLoader
when loading PdxInstance 
requiring class to be on classpath if pdx-read-serialized is false.

** NEEDS EDITING.** **GEODE-5039:** Fixed a bug where EvictionAttributesMutator.setMaximum does not work.

** NEEDS EDITING.** **GEODE-4957:** Fixed race condition in concurrent create
on region when the key used in a putIfAbsent call that returns null
may not be the one in the RegionEntry.

####Queues & Queries Issues####

**GEODE-4867, GEM-1958:** Ensure that the `MAX_QUERY_EXECUTION_TIME`
system variable is honored during long queries to avoid
hitting an out of memory exception.

**GEODE-4823, GEM-1936:** Prevent tombstones from being added to
an index during region initialization
to avoid a lengthy initialization period.

**GEODE-4451:** Fixed a bug which left a gateway sender in
an unusable state when authentication failed between
the sender and receiver.
Now an authentication exception is thrown, and,
similar to an `IOException`,
the gateway sender will continue to retry the connection
while the sender queue grows until either authentication
succeeds or the operator destroys the sender. 

####Communications Issues####

**GEODE-5085, GEM-2010:** Fixed a bug that caused
an `AuthenticationRequiredException` upon an autoreconnect
of a server.

**GEODE-4928, GEM-1487:** Fixed a timing issue
in transaction locking that manifested as a commit conflict
after a server crash.

## <a id="KnownIssuesGF93" class="no-quick-link"></a>Known Issues

The following known issues affect GemFire <%=vars.product_version%>:

**GEM-1197:** If the initialization of a Spring container is not complete upon the start or restart of an embedded locator, deadlock can result.  Avoid this issue by completing Spring container initialization before starting locators or servers; start GemFire processes in the Spring container's startup event.

# Support

General support includes security vulnerability resolutions and critical bug fixes in all supported minor versions, while other maintenance is applied only to the latest supported minor release.

## Obtaining and Installing Security Updates

New versions of Pivotal GemFire often include important security fixes, so Pivotal recommends you keep up to date with the latest releases.

For details about any security fixes in a particular release, see the [Pivotal security page](http://www.pivotal.io/security).
