---
title: Pivotal GemFire Release Notes
---

Pivotal GemFire <%=vars.product_version%> is based on Apache Geode version <%=vars.product_version_geode%>.
Pivotal GemFire <%=vars.product_version%> and Apache Geode share a common set of documentation.
Therefore, references to both GemFire and Apache Geode appear
throughout this documentation; consider them equivalents.

## <a id="topic_whatsnew" class="no-quick-link"></a>What's New in Pivotal GemFire <%=vars.product_version%>

Pivotal GemFire <%=vars.product_version%> includes the following improvements:

- New gfsh commands work with JNDI bindings:
    - `gfsh describe jndi-binding`
    - `gfsh destroy jndi-binding`
    - `gfsh list jndi-binding`

- Three new attributes on the gateway sender MBean monitor events
that are overflowed to disk:
    - `lruEvictions` displays as `LRUEvictionsRate` in JConsole
    - `entriesOnlyOnDisk` displays as `EntriesOverflowedToDisk` in JConsole
    - `bytesOnlyOnDisk` displays as `BytesOverflowedToDisk` in JConsole

- The `load-cluster-configuration-from-dir` option of the `gfsh start locator`
command is deprecated.

## <a id="topic_InstallingGF95" class="no-quick-link"></a>Installing Pivotal GemFire <%=vars.product_version%>

You can download Pivotal GemFire <%=vars.product_version%> from the [Pivotal GemFire product download](https://network.pivotal.io/products/pivotal-gemfire) page.

For details on how to install Pivotal GemFire <%=vars.product_version%>, see [Installing Pivotal GemFire](getting_started/installation/install_intro.html).

Note that the file name extension for the compressed TAR file is `.tar.gz` (rather than `.tgz`).

## <a id="UpgradingGF95" class="no-quick-link"></a>Upgrading to Pivotal GemFire <%=vars.product_version%>

To upgrade from an earlier version of GemFire to the current version, see [Upgrading Pivotal GemFire](getting_started/upgrade/upgrade_overview.html).

When servers are upgraded to this GemFire version from a version prior to version 9.1.1,
their authentication of client messages is disabled in order to facilitate rolling upgrades.
If your clients are set up to send authenticated messages, the servers will honor those messages,
but will not enforce authentication until you reinstate authentication on each of the upgraded servers.

To reinstate secure client/server messaging, restart each server with
the `geode.disallow-internal-messages-without-credentials` system property set to `true`.
For example:

``` pre
gfsh>start server --name=server_name --dir=server_config_dir \
--J=-Dgeode.disallow-internal-messages-without-credentials=true
```

## <a id="ResolvedIssues" class="no-quick-link"></a>Resolved Issues

The GemFire <%=vars.product_version%> release is based on the Apache Geode <%=vars.product_version_geode%> release.
Here is a list of [all issues resolved for Geode <%=vars.product_version_geode%>](https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12318420&version=12341842).

### <a id="ResolvedIssuesGF930" class="no-quick-link"></a>Issues Resolved in Pivotal GemFire <%=vars.product_version%>

The following issues have been resolved in GemFire <%=vars.product_version%>.
Ticket numbers of the form GEODE&#8209;NNNN can be inspected at the
[Apache Software Foundation site for Geode issues](https://issues.apache.org/jira/browse/GEODE).

####Management & Monitoring Issues####

**GEODE-2321:** Fixed Pulse to work correctly in locales other than the US.

**GEODE-3456, GEM-1917:** Fixed a bug that caused Pulse
to display a nonexistent cluster.

**GEODE-3891, GEM-1777:** Fixed an issue
that prevented the ability to set specific ciphers for the REST interface.

**GEODE-3922:** Corrected the Pulse help tab link.

**GEODE-4475, GEM-1677:** Eliminated displaying some JVM arguments.

**GEODE-4497:** Fixed a gfsh output text wrapping error.

**GEODE-4755:** Fixed a bug that prevented deploying JAR files on Windows platforms.

**GEODE-4765, GEM-1918:** Fixed an issue in which cluster configuration
did not respond after a locator reconnected to the distributed system.

**GEODE-4771, GEM-1929:** Corrected the implementation
of `gfsh configure pdx` with the `auto-serializable-classes` option.
The `check-portability` attribute is now false.

**GEODE-4893, GEM-1974:** Fixed a `gfsh import cluster-configuration` bug
that inadvertently shut down a server.

**GEODE-4902, GEM-1942:** Fixed a bug that prevented logging markers.

**GEODE-4930:** Implemented feature flagging for gfsh commands.

**GEODE-4960, GEM-1965:** Fixed a bug that prevented deploying JAR files
when SSL was enabled.
A `ConnectIOException` appeared in the output.

####Storage Issues####

**GEODE-4769:** Region entries are now serialized
before putting them in a local cache.

**GEODE-4840:** Fixed a bug in honoring 
the `pdx-read-serialized=false` property that 
manifested itself as an incorrect attempt to deserialize an instance
when the `PdxInstance` class was not on the classpath.

**GEODE-4933:** Entry expiration now updates the last accessed time
on proxy (normal) or local (preloaded) replicated regions.

**GEODE-4957:** Fixed a race condition
that existed when there were concurrent create entry operations in progress.
The race condition could cause a `putIfAbsent` call
to return null when the entry exists.

**GEODE-5039:** Fixed a bug that prevented
an invocation of `EvictionAttributesMutator.setMaximum` from setting
the maximum number of events.

####Queues & Queries Issues####

**GEODE-4451:** Fixed a bug which left a gateway sender in
an unusable state when authentication failed between
the sender and receiver.
Now an authentication exception is thrown, and,
similar to an `IOException`,
the gateway sender will continue to retry the connection
while the sender queue grows until either authentication
succeeds or the operator destroys the sender. 

**GEODE-4823, GEM-1936:** Prevent tombstones from being added to
an index during region initialization
to avoid a lengthy initialization period.

**GEODE-4867, GEM-1958:** Ensure that the `MAX_QUERY_EXECUTION_TIME`
system variable is honored during long queries to avoid
hitting an out of memory exception.

####Communications Issues####

**GEODE-4928, GEM-1487:** Fixed a timing issue
in transaction locking that manifested as a commit conflict
after a server crash.

**GEODE-5085, GEM-2010:** Fixed a bug that caused
an `AuthenticationRequiredException` upon an autoreconnect
of a server.

## <a id="KnownIssuesGF93" class="no-quick-link"></a>Known Issues

The following known issues affect GemFire <%=vars.product_version%>:

**GEM-1197:** If the initialization of a Spring container is not complete upon the start or restart of an embedded locator, deadlock can result.  Avoid this issue by completing Spring container initialization before starting locators or servers; start GemFire processes in the Spring container's startup event.

# Support

General support includes security vulnerability resolutions and critical bug fixes in all supported minor versions, while other maintenance is applied only to the latest supported minor release.

## Obtaining and Installing Security Updates

New versions of Pivotal GemFire often include important security fixes, so Pivotal recommends you keep up to date with the latest releases.

For details about any security fixes in a particular release, see the [Pivotal security page](http://www.pivotal.io/security).
