---
title: Pivotal GemFire Release Notes
---

Pivotal GemFire <%=vars.product_version%> is based on Apache Geode version <%=vars.product_version_geode%>.
Pivotal GemFire <%=vars.product_version%> and Apache Geode share a common set of documentation.
Therefore, references to both GemFire and Apache Geode appear
throughout this documentation; consider them equivalents.

## <a id="topic_whatsnew" class="no-quick-link"></a>What's New in Pivotal GemFire <%=vars.product_version%>

Pivotal GemFire <%=vars.product_version%> includes the following improvements:

- <%=vars.product_name%> clients support trust and keystore rotation
- Endpoint validation during SSL handshake is enabled
- Improved latency characteristics of Serial Gateway Sender Queues
- Function security is dynamically determined by function arguments
- Added support for Tomcat 9
- `gfsh` command hints are now case-independent

## Possible breaking change (draft)

GEODE 5861 - The `jndi-binding` option, which is accessible through both gfsh and XML, now has defaults.
If you have pooled connections and a custom implementation, your custom implementation must now meet certain criteria(?).

In `gfsh`, the `create jndi-binding` command has been changed in the following ways:

- The `driver-class-name` parameter is now optional.
- The `--url` option can be used as a replacement for `--connnection-url`.
- The `--type` option now defaults to SIMPLE (it used to not have a default).
- The `--type=POOLED` option now defaults to creating a Hikari pool and an SPI exists to customize the class that implements the pool.

The last item represents a *breaking change*, though the use case is so rare that it is unlikely to
affect many existing implementations.

The meaning of the following old option has changed: 

```
static final String CONNECTION_POOLED_DATASOURCE_CLASS = “conn-pooled-datasource-class”;
static final String CONNECTION_POOLED_DATASOURCE_CLASS__HELP =
    “This is the fully qualified name of the connection pool implementation to hold XA datasource connections.”
        + ” When used with --type=POOLED this class must implement org.apache.geode.datasource.PooledDataSourceFactory.“;
```

## <a id="topic_InstallingGF96" class="no-quick-link"></a>Installing Pivotal GemFire <%=vars.product_version%>

You can download Pivotal GemFire <%=vars.product_version%> from the [Pivotal GemFire product download](https://network.pivotal.io/products/pivotal-gemfire) page.

For details on how to install Pivotal GemFire <%=vars.product_version%>, see [Installing Pivotal GemFire](<%=vars.product_version_nodot%>/gemfire/getting_started/installation/install_intro.html).

## <a id="UpgradingGF96" class="no-quick-link"></a>Upgrading to Pivotal GemFire <%=vars.product_version%>

To upgrade from an earlier version of GemFire to the current version, see [Upgrading Pivotal GemFire](<%=vars.product_version_nodot%>/gemfire/getting_started/upgrade/upgrade_overview.html).

When servers are upgraded to this GemFire version from a version prior to version 9.1.1,
their authentication of client messages is disabled in order to facilitate rolling upgrades.
If your clients are set up to send authenticated messages, the servers will honor those messages,
but will not enforce authentication until you reinstate authentication on each of the upgraded servers.

To reinstate secure client/server messaging, restart each server with
the `geode.disallow-internal-messages-without-credentials` system property set to `true`.
For example:

``` pre
gfsh>start server --name=server_name --dir=server_config_dir \
--J=-Dgeode.disallow-internal-messages-without-credentials=true
```

## <a id="ResolvedIssues" class="no-quick-link"></a>Resolved Issues

The GemFire <%=vars.product_version%> release is based on the Apache Geode <%=vars.product_version_geode%> release.
This section describes issue resolutions that significantly affect GemFire applications. 
For a list of all issues resolved in Geode <%=vars.product_version_geode%>, see the [Geode <%=vars.product_version_geode%> Release Notes]
(https://cwiki.apache.org/confluence/display/GEODE/Release+Notes#ReleaseNotes-1.8.0).
Ticket numbers of the form GEODE&#8209;NNNN can be inspected at the
[Apache Software Foundation site for Geode issues](https://issues.apache.org/jira/browse/GEODE).


### <a id="ResolvedIssuesGF951" class="no-quick-link"></a>Issues Resolved in Pivotal GemFire <%=vars.product_version%>

**GEODE-5857, GEM-2233:** Resolved some race conditions in JMX registration during startup and shutdown.  

**GEODE-5861:** JDBC Connector now uses gfsh jndi-binding instead of jdbc-connection.

**GEODE-5925, GEM-2262:** Fixed an issue where `AcceptorImpl` was sending out unnecessary profile update messages during cache closure operations.

**GEODE-6078, GEM-2265:** Use of Pool APIs for doing operations when `multiuser-secure-mode-enabled` is set to `true` no longer causes a `java.lang.UnsupportedOperationException`.

# Support

General support includes security vulnerability resolutions and critical bug fixes in all supported minor versions, while other maintenance is applied only to the latest supported minor release.

## Obtaining and Installing Security Updates

New versions of Pivotal GemFire often include important security fixes, so Pivotal recommends you keep up to date with the latest releases.

For details about any security fixes in a particular release, see the [Pivotal security page](http://www.pivotal.io/security).
