---
title: Product Snapshot and Version Compatibility
---

 <!-- 
 Copyright (c) VMware, Inc. 2022. All rights reserved.
 Licensed to the Apache Software Foundation (ASF) under one or more contributor license
 agreements. See the NOTICE file distributed with this work for additional information regarding
 copyright ownership. The ASF licenses this file to You under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance with the License. You may obtain a
 copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software distributed under the License
 is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 or implied. See the License for the specific language governing permissions and limitations under
 the License.
 -->

The following tables provide version and version-support information about <%=vars.product_full%>.

## <a id="v-1-14-patches"></a> Version 1.14 Snapshots

Tables in this section are product snapshots for all of the v1.14 patch releases.

### <a id="v-1-14-8"></a>Version 1.14.8

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.14.8</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 27, 2023</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> v9.15.5</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> versions</td>
        <td>v3.0 (partial), v2.13 (partial), v2.12, v2.11, v2.10, 2.9, 2.8, 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> versions</td>
        <td>v3.0, v2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version (Pivotal stemcell)</td>
        <td>Ubuntu Xenial v621.488 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with VMware GemFire</td>
        <td>1.8.0_342</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.46 or a more recent version</td>
    </tr>
</table>

### <a id="v-1-14-7"></a>Version 1.14.7

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.14.7</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 22, 2023</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> v9.15.4</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> versions</td>
        <td>v3.0 (partial), v2.13 (partial), v2.12, v2.11, v2.10, 2.9, 2.8, 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> versions</td>
        <td>v3.0, v2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version (Pivotal stemcell)</td>
        <td>Ubuntu Xenial v621.401 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with VMware GemFire</td>
        <td>1.8.0_342</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.46 or a more recent version</td>
    </tr>
</table>

### <a id="v-1-14-6"></a>Version 1.14.6

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.14.6</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 14, 2022</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> v9.15.3</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> versions</td>
        <td>v3.0 (partial), v2.13 (partial), v2.12, v2.11, v2.10, 2.9, 2.8, 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> versions</td>
        <td>v2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version (Pivotal stemcell)</td>
        <td>Ubuntu Xenial v621.256 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with VMware GemFire</td>
        <td>1.8.0_342</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.46 or a more recent version</td>
    </tr>
</table>

### <a id="v-1-14-5"></a>Version 1.14.5

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.14.5</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 11, 2022</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> v9.15.1</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> versions</td>
        <td>v2.13 (partial), v2.12, v2.11, v2.10, 2.9, 2.8, 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> versions</td>
        <td>v2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version (Pivotal stemcell)</td>
        <td>Ubuntu Xenial v621.256 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with VMware GemFire</td>
        <td>1.8.0_342</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.46 or a more recent version</td>
    </tr>
</table>

### <a id="v-1-14-4"></a>Version 1.14.4

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.14.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td><%=vars.release_date%></td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> v1.14.4</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> version(s)</td>
        <td>v2.11, v2.10, 2.9, 2.8, 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> version(s)</td>
        <td>v2.11, v2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version</td>
        <td>Xenial v621.211 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with VMware GemFire</td>
        <td>1.8.0_242</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.18</td>
    </tr>
</table>

### <a id="v-1-14-3"></a>Version 1.14.3

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.14.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td><%=vars.release_date%></td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> v1.14.3</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> version(s)</td>
        <td>v2.11, v2.10, 2.9, 2.8, 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> version(s)</td>
        <td>v2.11, v2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version</td>
        <td>Xenial v621.198 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with VMware GemFire</td>
        <td>1.8.0_242</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.18</td>
    </tr>
</table>

### <a id="v-1-14-2"></a>Version 1.14.2

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.14.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td><%=vars.release_date%></td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> v1.14.2</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> version(s)</td>
        <td>v2.11, v2.10, 2.9, 2.8, 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> version(s)</td>
        <td>v2.11, v2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version</td>
        <td>Xenial v621.183 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with VMware GemFire</td>
        <td>1.8.0_242</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.18</td>
    </tr>
</table>

### <a id="v-1-14-1"></a>Version 1.14.1

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.14.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td><%=vars.release_date%></td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> v1.14.1</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> version(s)</td>
        <td>v2.11, v2.10, 2.9, 2.8, 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> version(s)</td>
        <td>v2.11, v2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version</td>
        <td>Xenial v621.183 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with VMware GemFire</td>
        <td>1.8.0_242</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.18</td>
    </tr>
</table>

### <a id="v-1-14-0"></a>Version 1.14.0

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.14.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td><%=vars.release_date%></td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td><%=vars.component_product%> v1.14.0</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.app_runtime_full%> version(s)</td>
        <td>v2.11, v2.10, 2.9, 2.8, 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%=vars.ops_manager%> version(s)</td>
        <td>v2.11, v2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version</td>
        <td>Xenial v621.154 or a more recent version</td>
    </tr>
    <tr>
        <td>JDK shipped with VMware GemFire</td>
        <td>1.8.0_242</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.18</td>
    </tr>
</table>

## <a id="server-versions-by-release"></a>Supported Server Versions by Release

The following table identifies the VMware GemFire or Apache Geode version
incorporated into current and past versions of <%=vars.product_full%>.

<table class="nice">
    <th>VMware GemFire for TAS version</th>
    <th>VMware GemFire version</th>
    <th>Apache Geode version</th>
    <tr>
        <td>1.14.7</td>
        <td>v9.15.4</td>
        <td></td>
    </tr>
    <tr>
        <td>1.14.6</td>
        <td>v9.15.3</td>
        <td></td>
    </tr>
    <tr>
        <td>1.14.5</td>
        <td>v9.15.1</td>
        <td></td>
    </tr>
    <tr>
        <td>1.14.4</td>
        <td></td>
        <td>v1.14.4</td>
    </tr>
    <tr>
        <td>1.14.3</td>
        <td></td>
        <td>v1.14.3</td>
    </tr>
    <tr>
        <td>1.14.2</td>
        <td></td>
        <td>v1.14.2</td>
    </tr>
    <tr>
        <td>1.14.1<strong>*</strong></td>
        <td></td>
        <td>v1.14.1</td>
    </tr>
    <tr>
        <td>1.14.0<strong>*</strong></td>
        <td></td>
        <td>v1.14.0</td>
    </tr>
    <tr>
        <td>1.13.7</td>
        <td></td>
        <td>v1.13.8</td>
    </tr>
    <tr>
        <td>1.13.6</td>
        <td></td>
        <td>v1.13.7</td>
    </tr>
    <tr>
        <td>1.13.5</td>
        <td></td>
        <td>v1.13.6</td>
    </tr>
    <tr>
        <td>1.13.4<strong>*</strong></td>
        <td></td>
        <td>v1.13.5</td>
    </tr>
    <tr>
        <td>1.13.3<strong>*</strong></td>
        <td></td>
        <td>v1.13.4</td>
    </tr>
    <tr>
        <td>1.13.2<strong>*</strong></td>
        <td></td>
        <td>v1.13.3</td>
    </tr>
    <tr>
        <td>1.13.1<strong>*</strong></td>
        <td></td>
        <td>v1.13.2</td>
    </tr>
    <tr>
        <td>1.13.0<strong>*</strong></td>
        <td></td>
        <td>v1.13.1</td>
    </tr>
    <tr>
        <td>1.13.0 Beta<strong>*</strong></td>
        <td></td>
        <td>Build 312 for v1.13</td>
    </tr>
    <tr>
        <td>1.12.4</td>
        <td>9.10.13</td>
        <td></td>
    </tr>
    <tr>
        <td>1.12.3</td>
        <td>9.10.8</td>
        <td></td>
    </tr>
    <tr>
        <td>1.12.2</td>
        <td>9.10.6</td>
        <td></td>
    </tr>
    <tr>
        <td>1.12.1</td>
        <td>9.10.5</td>
        <td></td>
    </tr>
    <tr>
        <td>1.12.0</td>
        <td>9.10.2</td>
        <td></td>
    </tr>
    <tr>
        <td>1.11.3</td>
        <td>9.9.5</td>
        <td></td>
    </tr>
    <tr>
        <td>1.11.2</td>
        <td>9.9.3</td>
        <td></td>
    </tr>
    <tr>
        <td>1.11.1</td>
        <td>9.9.2</td>
        <td></td>
    </tr>
    <tr>
        <td>1.11.0</td>
        <td>9.9.1</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.9</td>
        <td>9.9.7</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.8</td>
        <td>9.9.6</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.7</td>
        <td>9.9.6</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.6<strong>*</strong></td>
        <td>9.9.6</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.5<strong>*</strong></td>
        <td>9.9.5</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.4<strong>*</strong></td>
        <td>9.9.4</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.3<strong>*</strong></td>
        <td>9.9.3</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.2<strong>*</strong></td>
        <td>9.9.2</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.1<strong>*</strong></td>
        <td>9.9.1</td>
        <td></td>
    </tr>
    <tr>
        <td>1.10.0<strong>*</strong></td>
        <td>9.9.0</td>
        <td></td>
    </tr>
    <tr>
        <td>1.9.2</td>
        <td>9.8.6</td>
        <td></td>
    </tr>
    <tr>
        <td>1.9.1</td>
        <td>9.8.4</td>
        <td></td>
    </tr>
    <tr>
        <td>1.9.0<strong>*</strong></td>
        <td>9.8.3</td>
        <td></td>
    </tr>
</table>

<b>*</b> This version is not available on [VMware Tanzu Network](https://network.tanzu.vmware.com/).
