---
title: VMware Tanzu GemFire for VMs Release Notes
---

## <a id='v115'></a>v1.15

**Release Date:**  Month date, 2021

Features included in this release:

- Version history item goes here.
- This version of <%=vars.product_full%> runs Apache Geode v1.15.0.
- <%=vars.product_short%> supports <%=vars.app_runtime_full%> version 2.11.

## <a id='v1140'></a>v1.14.0

**Release Date:**  September 28, 2021

Version 1.14.0 of <%=vars.product_name%> runs [Apache Geode v1.14.0](https://cwiki.apache.org/confluence/display/GEODE/Release+Notes#ReleaseNotes-1.14.0).

Features included in v1.14.0:

- _Jump upgrades_ to v1.14 are supported from the following versions:

    - 1.13.4
    - 1.12.3
    - 1.11.3
    - 1.10.7

    Upgrading to <%=vars.product_short%> 1.14 from any version other than those shown requires multiple steps. For example, if your
    current version is v1.10.5, you must first upgrade to v1.10.7, from which you can then jump upgrade to 1.14.<br /><br />
    If your application connects via the Services Gateway feature, there are additional prerequisites.<br /><br />
    For details on these and other upgrade issues, see [Upgrading VMware Tanzu GemFire](upgrade.html).

- <%=vars.product_short%> supports <%=vars.app_runtime_full%> versions 2.7, 2.8, 2.9, 2.10 and 2.11.
- The _Advanced configuration_ feature allows users to configure custom JVM options, GemFire properties, credentials, and Resource Manager properties.
See [Advanced Service Instance Configuration](advanced-configuration.html) for more information.

## Upgrade Note

Apache Geode v1.13.2, which was first supported in <%=vars.product_name%> version 1.13.1,  included a fix for issue **GEODE-8799**,
providing a performance improvement by increasing the defaults for maximum
number of pooled message processor threads and maximum partitioned region message processor
threads.

If you are upgrading from a version of <%=vars.product_name%> earlier than version 1.13.1, be sure to read the [version-specific notes
in the Upgrade instructions](upgrade.html).
