---
title: VMware Tanzu GemFire for VMs Release Notes
---

## <a id='v1133'></a>v1.13.3

**Release Date:**  July 30, 2021

- Version 1.13.3 of <%=vars.product_name%> runs [Apache Geode v1.13.4](https://cwiki.apache.org/confluence/display/GEODE/Release+Notes#ReleaseNotes-1.13.4).

- With this release, when using the services gateway feature the TCP routes are registered with the
TAS TCP router instead of the TGF[VMs] SNI router. This removes one extra hop and improves
performance when clients are connecting from outside the foundation.

- An option, `pr_load_probe_class`, was added to support changing the Load Probe Class for rebalance
  operations. See [Create or Delete a Service Instance: Provide Optional
  Parameters](create-instance.html#params) for details.

## <a id='v1132'></a>v1.13.2

**Release Date:**  June 25, 2021

- Version 1.13.2 of <%=vars.product_name%> runs [Apache Geode v1.13.3](https://cwiki.apache.org/confluence/display/GEODE/Release+Notes#ReleaseNotes-1.13.3).

Version 1.13.2 of <%=vars.product_name%> addresses two important upgrade issues:

- **GEODE-9289, GEM-3253**: Addressed an issue with deserialization of configuration information from old locators during rolling upgrade.

- **GEODE-9295, GEM-3310**: Fixed a problem with idle expiration threads that could cause a drastic increase in session region entry count following an upgrade.

<p class="note warning"><strong>NOTE: </strong>We recommend that all customers running versions 1.13.0 or 1.13.1 update to version 1.13.2 to
take advantage of this fix in expiration handling.</p>

## <a id='v1131'></a>v1.13.1

**Release Date:**  April 27, 2021

- This version of <%=vars.product_name%> runs [Apache Geode v1.13.2](https://cwiki.apache.org/confluence/display/GEODE/Release+Notes#ReleaseNotes-1.13.2).

Apache Geode v1.13.2 includes a fix for issue **GEODE-8799**,
providing a performance improvement by increasing the defaults for maximum
number of pooled message processor threads and maximum partitioned region message processor
threads.

**NOTE:** If your system had been hitting the old, lower default
maximums, then upgrading may cause increased use of system resources as the system is no longer
constrained to the old values. If your system depends on constraining system resources to the old
default values, you can set these properties explicitly using DistributionManager.MAX_THREADS and
DistributionManager.MAX_PR_THREADS, respectively.

The following table shows the old and new maximum values.

| System Resource | Old Default Value | New Default Value |
|-----------------|-------------------|-------------------|
| DistributionManager.MAX_THREADS    | 100        | 1000 |
| DistributionManager.MAX_PR_THREADS | The greater of (CPUs * 4) or 16 | The greater of (CPUs * 32) or 200 |


## <a id='v1130'></a>v1.13.0

**Release Date:**  December 17, 2020

Features included in this release:

- The service gateway permits apps running outside the services foundation
(TAS) to communicate with the <%=vars.product_short%> service instance.
See [The App's Location](architecture.html#AppLocation) for an
introduction to the service gateway.
- This version of <%=vars.product_full%> runs Apache Geode v1.13.1.
- <%=vars.product_short%> supports <%=vars.app_runtime_full%> version 2.10
and 2.11.
