---
title:  VMware GemFire Supported Configurations
---

<%=vars.product_name_long%> is supported on a variety of platforms.

**Note:**
Running <%=vars.product_name%> clusters with a mix of different platforms has not been tested. We recommend that you use a consistent platform on all machines in your cluster.

## <a id="supported-platforms"></a>Supported Platforms

All platforms listed as deprecated may be removed in a future release
of the product.

**These <%=vars.product_name%> <%=vars.product_version %>
platforms provide support for production systems:**

- CentOS 7 for the x86-64 processor
- RHEL 6 for the x86-64 processor **(Deprecated)**
- RHEL 7 for the x86-64 processor
- Ubuntu 14.04 for the x86-64 processor
- Ubuntu 16.04 for the x86-64 processor
- SUSE Linux Enterprise Server 11 for the x86-64 processor
- Solaris 11 for the x86-64 processor
- Solaris 11 for a 64-bit SPARC processor
- Windows 2012 Server for the x86-64 processor **(Deprecated)**
- Windows 2012 Server R2 for the x86-64 processor
- AIX 7 with IBM SDK, Java Technology Edition, Version 8*. This platform is only supported for GemFire application clients. The GemFire cluster must be configured on one of the other supported platforms.

**These cloud platforms are supported for <%=vars.product_name%> <%=vars.product_version %>:**

- Linux platforms under AWS
- Linux platforms under Microsoft Azure

**These <%=vars.product_name%> <%=vars.product_version %>
platforms provide support for development systems:**

- MacOS 10.12 (Sierra) for the x86-64 processor
- Windows 10 for the x86-64 processor

## <a id="java-support-notes"></a>Java Support Notes

This version of <%=vars.product_name%> requires Java 8 release <%=vars.min_java_update %> or
a more recent version 8 update.  The same versions are supported with OpenJDK.

<%=vars.product_name%> is compatible with Open JDK 11.

The <%=vars.product_name%> product download does not include Java.
Download and install a supported JRE or JDK on each system running GemFire.
VMware recommends the installation of a full JDK (and not just a JRE)
to obtain better performance with `gfsh status` and `gfsh stop` commands.

The IBM SDK, Java Technology Edition, Version 8 is supported for application clients only. Some client region eviction configurations such as `HEAP_LRU` are known to not function properly in this release.

## <a id="system_requirements__section_cg1_zp3_tq"></a>File System Type for Linux Platforms

For optimal disk-store performance, VMware recommends avoiding the use of 
`ext3` file systems when operating on Linux platforms.


